<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<h1>Urls</h1>

<table>
  <thead>
    <tr>
      <th>Original</th>
      <th>Link</th>
      <th>Visits</th>
    </tr>
  </thead>

  <tbody>
    <% @urls.each do |url| %>
      <tr>
        <td><%= url.original %></td>
        <td><%= link_to "#{request.base_url}/#{url.link}", url_path(url, link: url.link) %></td>
        <td><%= url.visits %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Url', new_url_path %>
<%= link_to 'Download CSV', urls_path(format: :csv) %>
